*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  /*10px in percentage, to adapt to any font-size that is used by the user*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 400; }

.header {
  font-size: 2rem; }

.section {
  font-size: 8rem;
  word-wrap: break-word; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8rem;
  background-color: #212129;
  color: #777; }
  .header__logo {
    border-radius: 50%;
    background-size: cover;
    height: 10rem; }
  .header__nav {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem; }
    .header__nav-anchor:visited .header__nav-anchor:link {
      color: #777; }
    .header__nav-anchor:hover {
      color: lighter; }

.section__primary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: fit-content;
  border-radius: 2.5rem;
  padding: 6.4rem;
  margin: auto;
  background-color: #4C5265;
  background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0.2)), url("https://www.enjpg.com/img/2020/lofi-3.webp");
  background-size: cover;
  background-position: top;
  color: whitesmoke; }
  .section__primary-container-1 .section__primary-container-2 {
    width: fit-content;
    display: flex;
    align-content: flex-start;
    align-self: flex-start; }

body {
  background-color: #212129; }
