.section__primary {

    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.13)), 
    url("/assets/img/rain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    font-size: 4rem;
    color: $font-color-gray;

    padding: 4rem;

    height: fit-content;

    &-text {
        background-color: $color-lead-dark;
        padding: 4rem;
        border-radius: 1.6rem;

        max-width: calc(1vw + 80rem);
        height: 50vh;
        margin: 0 auto;

        &:hover {
            color: lighten($font-color-gray, 10%);
        }
    
        &:link, &:visited {
            color: $font-color-gray;
        }
    }
}