.section__primary {

    background-image: url("/assets/img/rain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    padding: 4rem;

    height: fit-content;

    &-text {
        background-color: $color-lead-dark;
        padding: 4rem;
        border-radius: 1.6rem;

        max-width: calc(1vw + 100rem);
        height: 50vh;
        margin: 0 auto;
    }
}