.section__primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    margin: 0 auto;
    border-radius: 1.6rem;


    overflow: hidden;

    background-color: $color-lead-dark;
    color: whitesmoke;

    &-text {
        font-size: 6rem;
        word-wrap: break-word;
    }

    &-text {

    }
}